<form action="/index.php?c=article&a=add-article" method="post">
    <label for="title">Titre de l'article</label>
    <input type="text" id="title" name="title">

    <label for="content">Contenu de votre article</label>
    <textarea name="content" id="content" cols="40" rows="30"></textarea>

    <input type="submit" name="submit" id="submit" value="Poster l'article">
</form>